html {
  --primary-color: #1779c4;
  --primary-dark-color: #335c80;
  --primary-light-color: #70b1e9;
  --primary-lighter-color: #7ac1ff;
  --primary-lightest-color: #bce0ff;

  --side-nav-background: #f7efff;
  --side-nav-foreground: #000000;

  --searchbar-background: var(--page-background-color);
  --searchbar-foreground: var(--page-foreground-color);

  --link-color: #2980b9;
  --param-color: #b71c1c;
  --top-height: 230px;
}

html.dark-mode {
  color-scheme: dark;

  --primary-color: #af7fe4;
  --primary-dark-color: #cb99f6;
  --primary-light-color: #7929d2;
  --primary-lighter-color: #191e21;
  --primary-lightest-color: #191a1c;

  --side-nav-background: #16191f;
  --side-nav-foreground: var(--page-foreground-color);

  --param-color: #ef9a9a;
}

dl.section dd,
dl.bug dd,
dl.deprecated dd {
  margin-inline-start: revert;
}

#top {
  background: var(--side-nav-background);
}

#titlearea table {
  width: 100%;
}

#projectlogo img {
  width: 250px;
  height: 100px;
  max-height: none !important;
  padding-top: 12px;
}

#projectalign {
  text-align: center;
}

#doc-content {
  padding-top: 10px !important;
}

.toc {
  width: 230px !important;
}

#powerTip {
  background-color: var(--side-nav-background);
  color: var(--side-nav-foreground);
  box-shadow: 1px 1px 7px black;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/


/* Début : Pour le 'corner' GitHub. */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

.github-corner svg {
  fill: var(--primary-light-color);
  color: var(--page-background-color);
  position: absolute;
  top: 0;
  border: 0;
  left: var(--side-nav-fixed-width);
  transform: scale(-1, 1);
  z-index: 99;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
/* Fin : Pour le 'corner' GitHub. */


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/


/* Début : Bouton 'Prochaine page'. */
.next_section_button {
  display: block;
  padding: var(--spacing-large) 0 var(--spacing-small) 0;
  color: var(--side-nav-background);
  user-select: none;
  float: right;
}

.next_section_button::after {
  /* clearfix */
  content: "";
  clear: both;
  display: table;
}

.next_section_button a {
  overflow: hidden;
  float: right;
  border: 1px solid var(--separator-color);
  padding: var(--spacing-medium) calc(var(--spacing-large) / 2) var(--spacing-medium) var(--spacing-large);
  border-radius: var(--border-radius-medium);
  color: var(--page-foreground-color) !important;
  text-decoration: none;
  background-color: var(--side-nav-background);
  transition: color .08s ease-in-out, background-color .1s ease-in-out;
}

.next_section_button a:hover {
  color: var(--page-foreground-color) !important;
  background-color: var(--odd-color);
}

.next_section_button a::after {
  content: '〉';
  color: var(--page-foreground-color) !important;
  padding-left: var(--spacing-large);
  display: inline-block;
  transition: color .08s ease-in-out, transform .09s ease-in-out;
}

.next_section_button a:hover::after {
  color: var(--page-foreground-color) !important;
  transform: translateX(6px);
}
/* Fin : Bouton 'Prochaine page'. */


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/


/* Début : Bouton 'Précedente page'. */
.back_section_button {
  width: fit-content;
  display: inline-block;
  padding: var(--spacing-large) 0 var(--spacing-small) 0;
  color: var(--side-nav-background);
  user-select: none;
}

.back_section_button::after {
  /* clearfix */
  content: "";
  clear: both;
  display: table;
}

.back_section_button a {
  overflow: hidden;
  float: left;
  border: 1px solid var(--separator-color);
  padding: var(--spacing-medium) var(--spacing-large) var(--spacing-medium) calc(var(--spacing-large) / 2);
  border-radius: var(--border-radius-medium);
  color: var(--page-foreground-color) !important;
  text-decoration: none;
  background-color: var(--side-nav-background);
  transition: color .08s ease-in-out, background-color .1s ease-in-out;
}

.back_section_button a:hover {
  color: var(--page-foreground-color) !important;
  background-color: var(--odd-color);
}

.back_section_button a::before {
  content: '〈';
  color: var(--page-foreground-color) !important;
  padding-right: var(--spacing-large);
  display: inline-block;
  transition: color .08s ease-in-out, transform .09s ease-in-out;
}

.back_section_button a:hover::before {
  color: var(--page-foreground-color) !important;
  transform: translateX(-6px);
}
/* Fin : Bouton 'Précedente page'. */


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/


/* Début : Div pour les boutons 'Page'. */
.section_buttons {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
/* Fin : Div pour les boutons 'Page' . */


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
